<form action="/targobank/process" method="POST">
    <input type="hidden" name="dealer_id" value="804625">
    <input type="hidden" name="koop_id" value="villastore241">
    <!-- Add other necessary form fields -->
    <button type="submit">Pay with TARGOBANK</button>
</form>
